<!-- Window seen upon loading to enter a username -->
<div class="enterName" *ngIf="userName.length == 0">
  <h3>Welcome to my chat room!</h3>
  <h3>Please enter a name to continue.</h3>
  <div class="error" *ngIf="isError">
    <h4>{{ errorMessage }}</h4>
  </div>
  <input type="text" class="userNameInput" name="userName" (keypress)="onNameInputKeyPress($event)" #userNameInput>
  <button type="button" class="changeNameBtn" (click)="onChangeName()">Submit Name</button>
</div>
<!-- Clickable rooms to change feed -->
<div class="header" *ngIf="userName.length > 0 && !mobileDisplay">
  <ul #roomList>
    <li *ngFor="let room of rooms[currentPage]" (click)="onSelectRoom(room)" [ngClass]="selectedRoom === room ? 'selectedRoom' : '' ">
      {{ room.split('/')[1] }}
    </li>
    <li (click)="onAddNewRoom()" id="plusSign">+</li>
    <li (click)="onLeaveRoom()" id="minusSign">-</li>
    <li (click)="onShiftRoomsLeft()" class="toggleRooms">
      <</li> <li (click)="onShiftRoomsRight()" class="toggleRooms">>
    </li>
  </ul>
 <ul class="spacer"><li></li></ul>
</div>
<div class="chatRoom">
  <app-room *ngIf="userName.length > 0"></app-room>
</div>
<!-- Pop up when attempting to add or join a new room -->
<div class="newRoomWindow" *ngIf="isAddNewRoom || isLeaveRoom">
  <div class="newRoomError" *ngIf="isNewRoomError">
    <h4>{{ newRoomErrorMessage }}</h4>
  </div>
  <div *ngIf="!isLeaveRoom">  
    <button type="button" class="changeNameBtn" (click)="onToggleJoinCreate()">
      Switch to {{ !isJoin ? 'Join' : 'Create' }}
    </button>
    <h3>{{ isJoin ? 'Join' : 'Create' }} Room</h3>
    <label for="roomName">Name</label>
    <input type="text" name="roomName" id="roomName" #roomNameInput>
    <label for ="roomPassword">Password</label>
    <input type="password" name="roomPassword" id="roomPassword" #roomPasswordInput>
    <button type="button" class="changeNameBtn newRoomBtn" (click)="onCreateNewRoom()" *ngIf="!isJoin">Create</button>
    <button type="button" class="changeNameBtn newRoomBtn" (click)="onJoinRoom()" *ngIf="isJoin">Join</button>
    <button type="button" class="changeNameBtn newRoomBtn" (click)="onCloseNewRoom()">Close</button>
  </div>
  <div *ngIf="isLeaveRoom">
    <h3>Do you really want to leave {{ selectedRoom.split('/')[1] }}?</h3>
    <button type="button" class="changeNameBtn newRoomBtn yes" (click)="onYesLeaveRoom()">Yes</button>
    <button type="button" class="changeNameBtn newRoomBtn no" (click)="onNoLeaveRoom()">No</button>
  </div>
</div>
<!-- Mobile display for room list -->
<div class="mobileRooms" *ngIf="mobileDisplay && isMobileRoomsOpen">
  <button type="button" class="usersButton" (click)="onCloseMobileRoomsList()"><strong>Close</strong></button>
  <ul>
    <li class="mobileRoomsListItem" *ngFor="let room of mobileRooms" (click)="onSelectRoom(room);onCloseMobileRoomsList()">{{ room.split('/')[1] }}</li>
  </ul>
  <button type="button" class="usersButton" (click)="onAddNewRoom()"><strong>Join</strong></button>
  <button type="button" class="usersButton" (click)="onCreateNewRoom()"><strong>Create</strong></button>
</div>